{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

<div class="page-header">
    <h1><a href="{% url 'post_list' %}">Django Blog</a></h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

</body>
</html>

